{% extends "base.html" %}

{% block title %}
Entity Recognition
{% endblock %}

{% block content %}

<div class="row">

	<main role="main" class="container">
	  <div class="jumbotron">
	    <h1>Entity Recognition</h1>
	  </div>

	<div class="d-flex justify-content-center">

		<div class="container-fluid form-group">

			<form action="#" method="POST">

				<h4>User Query</h4>
				<input type="text" class="form-control" name="query" id="query" value="{{query if query}}">

				<br>

				<div class="row align-self-start">
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-dark btn-block" name="submit" id="submit" value="mdl_test">Predict</button>
					</div>
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-light btn-block" name="submit" id="submit" value="mdl_train">Train</button>
					</div>
					<div><b>{{status if status}}</b></div>
				</div>

				<br>

				<h4>Entities</h4>

				<div class="row align-self-start">
					<div class="col-4">
						<table class="table table-hover table-condensed">
							<thead>
								<tr>
									<th>Slot</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Intent</td>
									<td>{{intent if intent}}</td>
								</tr>
								<tr>
									<td>Restaurant</td>
									<td>{{restaurant if restaurant}}</td>
								</tr>
								<tr>
									<td>Food Type</td>
									<td>{{food_type if food_type}}</td>
								</tr>
								<tr>
									<td>Meal Type</td>
									<td>{{meal_type if meal_type}}</td>
								</tr>
								<tr>
									<td>Price</td>
									<td>{{price if price}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating if rating}}</td>
								</tr>
								<tr>
									<td>Reservation Date</td>
									<td>{{date if date}}</td>
								</tr>
								<tr>
									<td>Reservation Time</td>
									<td>{{time if time}}</td>
								</tr>
								<tr>
									<td>Reservation Name</td>
									<td>{{name if name}}</td>
								</tr>
								<tr>
									<td>Number of Guests</td>
									<td>{{num_guests if num_guests}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</form>

		</div>

	</div>

	</main>

</div>

{% endblock %}