{% extends "base.html" %}

{% block title %}
Intent Classification
{% endblock %}

{% block content %}

<div class="row">

	<main role="main" class="container">
	  <div class="jumbotron">
	    <h1>Intent Classification</h1>
	  </div>

	<div class="d-flex justify-content-center">

		<div class="container-fluid form-group">

			<form action="#" method="POST">

				<h4>Intent</h4>
				<input type="text" class="form-control" name="intent" id="intent" value="{{intent if intent}}">

				<br>

				<h4>Pattern <small class="text-muted">(separate by semi-colon ";")</small></h4>
				<textarea class="form-control" name="pattern" id="pattern" rows="4">{{pattern if pattern}}</textarea>

				<br>

				<h4>Status</h4>
				<p>{{status if status}}</p>

				<br>

				<div class="row align-self-start">
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-primary btn-block" name="submit" id="submit" value="db_get">Get</button>
					</div>
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-warning btn-block" name="submit" id="submit" value="db_post">Post</button>
					</div>
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-danger btn-block" name="submit" id="submit" value="db_delete">Delete</button>
					</div>
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-success btn-block" name="submit" id="submit" value="mdl_train">Train</button>
					</div>
				</div>

				<br>

				<h4>User Query</h4>
				<input type="text" class="form-control" name="query" id="query" value="{{query if query}}">

				<br>

				<h4>Prediction</h4>
				<p>{{predict if predict}}</p>

				<br>

				<div class="row align-self-start">
					<div class="col-2 align-self-center">
						<button type="submit" class="btn btn-dark btn-block" name="submit" id="submit" value="mdl_test">Predict</button>
					</div>
				</div>

			</form>

		</div>

	</div>

	</main>

</div>

{% endblock %}